input, button{
    font-family: Arial, sans-serif;
    font-size: 14pt;
}
#background {
    fill: #2db300;
}

#controls {
    text-align: center;
    width: 500px;
    font-family: Arial;
    font-size: 14pt;
}

#message {
    fill: #ff0000;
    font-family: Arial, sans-serif;
    font-size: 18pt;
    text-anchor: middle;
}

#point {
    fill: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 24pt;
    text-anchor: middle;
}

#puck {
    fill: #000000;
    stroke: #ffffff;
}

.die {
    fill: #ffffff;
    stroke-width: 3;
    stroke: #000000;
}

.pip {
    stroke: #000000;
    fill: #000000;
    visibility: hidden;
}
#winnings{
    font-weight:bold;
}
.spacer{
    margin-left: 25px;
}